/__pycache__/Annotations.cpython-310.pyc
/__pycache__/ChartLayouts.cpython-310.pyc
/__pycache__/Charts.cpython-310.pyc
/__pycache__/Helper.cpython-310.pyc
/__pycache__/Layouts.cpython-310.pyc
/__pycache__/Result.cpython-310.pyc
/__pycache__/SUSDataset.cpython-310.pyc
/__pycache__/SUSStud.cpython-310.pyc
/__pycache__/styles.cpython-310.pyc
